.toggler {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  gap: 2px;
}

.toggler__themeList {
  display: flex;
  justify-content: space-around;
}

.toggler__slider {
  --slider-width: 80px;
  --padding-x: calc(18 / 100 * var(--slider-width));

  padding: 6px var(--padding-x);
  border-radius: 1.5rem;

  display: flex;
  width: var(--slider-width);
}
.toggler_th1 .toggler__slider {
  background-color: var(--clr-primary-dark-400--th1);
}
.toggler_th2 .toggler__slider {
  background-color: var(--clr-primary-light-100--th2);
}
.toggler_th3 .toggler__slider {
  background-color: var(--clr-primary-dark-400--th3);
}

.toggler__btn {
  --radius: 8px;
  --diameter: calc(var(--radius) * 2);
  --inner-slider-width: calc(var(--slider-width) - 2 * var(--padding-x));

  border-radius: 50%;

  width: var(--diameter);
  height: var(--diameter);

  transition: translate 200ms ease-out;
}
.toggler_th1 .toggler__btn {
  background-color: var(--clr-accent--th1);
}
.toggler_th2 .toggler__btn {
  background-color: var(--clr-accent-2--th2);
}
.toggler_th3 .toggler__btn {
  background-color: var(--clr-accent--th3);
}
