.calculator__screen {
  text-align: end;
  padding: 0.5em 0.75em;

  border-radius: 0.3em;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.calculator__screen_th1 {
  background-color: var(--clr-primary-dark-500--th1);
}
.calculator__screen_th2 {
  background-color: var(--clr-primary-light-300--th2);
}
.calculator__screen_th3 {
  background-color: var(--clr-primary-dark-400--th3);
}
