.container {
  min-height: 100vh;
  background-color: var(--clr-primary-dark-300--th1);
  display: grid;
  place-items: center;
}
.container_th1 {
  background-color: var(--clr-primary-dark-300--th1);
  color: var(--clr-txt-light--th1);
}
.container_th2 {
  background-color: var(--clr-primary-light-200--th2);
  color: var(--clr-txt-dark--th2);
}
.container_th3 {
  background-color: var(--clr-primary-dark-500--th3);
  color: var(--clr-txt-light-100--th3);
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: clamp(20rem, 80%, 30rem);
}
.calculator__header {
  display: flex;
  justify-content: space-between;
}
