.container {
  min-height: 100vh;
  background-color: var(--clr-primary-dark-300--th1);
  color: var(--clr-txt-light--th1);

  display: grid;
  place-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: clamp(20rem, 80%, 30rem);
}
.calculator__header {
  display: flex;
  justify-content: space-between;
}
.calculator__screen {
  background-color: var(--clr-primary-dark-500--th1);
  text-align: end;
  padding: 0.5em 0.75em;

  border-radius: 0.3em;
}
.calculator__keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 4rem;
  gap: 0.4em;

  padding: 0.75em;

  background-color: var(--clr-primary-dark-400--th1);

  border-radius: 0.3em;
}
