/* Base styles */
body {
  font-family: var(--ff);
  font-size: var(--fs-neutral);
  font-weight: var(--fw);
  color: var(--clr-txt-dark--th1);
  background-color: white;
}

button {
  border: none;
  background: none;
  cursor: pointer;

  font: inherit;
  color: inherit;
}
