:root {
  /* Colors */

  /* Theme 1 */
  --clr-primary-dark-100--th1: hsl(225, 21%, 49%);
  --clr-primary-dark-200--th1: hsl(224, 28%, 35%);
  --clr-primary-dark-300--th1: hsl(222, 26%, 31%);
  --clr-primary-dark-400--th1: hsl(223, 31%, 20%);
  --clr-primary-dark-500--th1: hsl(224, 36%, 15%);
  --clr-accent--th1: hsl(6, 63%, 50%);
  --clr-accent-dark--th1: hsl(6, 70%, 34%);
  --clr-neutral--th1: hsl(30, 25%, 89%);
  --clr-neutral-dark--th1: hsl(28, 16%, 65%);
  --clr-txt-dark--th1: hsl(221, 14%, 31%);
  --clr-txt-light--th1: hsl(0, 0%, 100%);

  /* Theme 2 */
  --clr-primary-light-100--th2: hsl(0, 5%, 81%);
  --clr-primary-light-200--th2: hsl(0, 0%, 90%);
  --clr-primary-light-300--th2: hsl(0, 0%, 93%);
  --clr-accent-1--th2: hsl(185, 42%, 37%);
  --clr-accent-1-dark--th2: hsl(185, 58%, 25%);
  --clr-accent-2--th2: hsl(25, 98%, 40%);
  --clr-accent-2-dark--th2: hsl(25, 99%, 27%);
  --clr-neutral--th2: hsl(45, 7%, 89%);
  --clr-neutral-dark--th2: hsl(35, 11%, 61%);
  --clr-txt-dark--th2: hsl(60, 10%, 19%);
  --clr-txt-light--th2: hsl(0, 0%, 100%);

  /* Theme 3 */
  --clr-primary-light-100--th3: hsl(285, 91%, 52%);
  --clr-primary-dark-100--th3: hsl(290, 70%, 36%);
  --clr-primary-dark-200--th3: hsl(281, 89%, 26%);
  --clr-primary-dark-300--th3: hsl(268, 47%, 21%);
  --clr-accent--th3: hsl(176, 100%, 44%);
  --clr-accent-light--th3: hsl(177, 92%, 70%);
  --clr-txt-dark--th3: hsl(198, 20%, 13%);
  --clr-txt-light-100--th3: hsl(52, 100%, 62%);
  --clr-txt-light-400--th3: hsl(0, 0%, 100%);

  /* Typography */
  --ff: "League Spartan", sans-serif;
  --fw: 700;
  --fs-big: 2.5rem;
  --fs-neutral: 2rem;
  --fs-medium: 1.3rem;
  --fs-small: 1rem;
}
